<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" packages="com.hw.pps.gadget.log4j2">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %pps{key1}{key2}|%msg%n"/>
        </Console>
        
         <RollingRandomAccessFile name="debug" fileName="D:/logs/debug.log" filePattern="D:/logs/debug_%d{yyyy-MM-dd}_%i.log">
            <Filters>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{36} %L %M - %pps{key1}|%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <logger name="com.hw.pps.gadget" level="trace" additivity="false">
            <appender-ref ref="debug"/>
        </logger>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>